<h1>Spiderman</h1>
<dl>
  <td>Nombre: </td>
  <dd>{{name}}</dd>
  <dd>Superman</dd>
  <td>Edad:</td>
  <dd>{{age}}</dd>
  <td>Metodo:</td>
  <dd>{{getHeroDescription()}}</dd>
  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>
</dl>

<div class="">
  <button type="button" class="btn btn-success mx-3" (click)="changeHero()" *ngIf="name  !== 'spiderman' ">Cambiar nombre</button>
  <button type="button" class="btn btn-success" (click)="changeAge()" *ngIf="true">Cambiar edad</button>
  <button type="button"  (click)="resetForm()" class="btn btn-primary mx-3">Reset</button>
</div>
